.inlineWord{
  border: 1px solid #000;
  width: 800px;
  height: 400px;
}

.inlineWord h1{
  text-align: left;
  margin-top: -10px;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
}

.inlineWord h1 span{
  background-color: white;
}

