.page {
  width: 900px;
  padding: 1% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  max-width: 700px;
}

#hr1
{
  margin-top: 54px;
}
#fontweight
{
  font-weight: 200 !important;
}
#widthchamnge
{
  width: 50%;
  margin-left: 2.5%;
}
/* .hr
{
  margin-top: 1px;
} */



.panel-heading.collapsed .fa-caret-down,
.panel-heading .fa-caret-right {
  display: none;
}

.panel-heading.collapsed .fa-caret-right,
.panel-heading .fa-caret-down {
  display: inline-block;
}

i.fa {
  cursor: pointer;
  margin-right: 5px;
}

.collapsed ~ .panel-body {
  padding: 0;
}

#textarea
{
    overflow-y: scroll;
    height: 100px;
    width: 75%;
    resize: none;
}
#textarea1
{
  height: 150px;
  width: 100%;
  resize: none;
  margin-left: 16px;
}

.form-inline .form-control {
    display: inline-block;
    width: 100% !important;
    vertical-align: middle;
}
